<html>
  <head>
    <title>Teaching</title>
    <base href="~/" />
  </head>
  <body>
    <h1>Teaching</h1>
    <ul>
      <li>MATH 1120 Calculus II, Cornell University, Spring 2025. Instructor of record.</li>
      <li>MATH 2930 Differential Equations for Engineers, Cornell University, Fall 2024. Teaching Assistant.</li>
      <li>MATH 2230 Honors Linear Algebra and Calculus I, Cornell University, Fall 2023. Teaching Assistant.</li>
      <li>MATH 2240 Honors Linear Algebra and Calculus II, Cornell University, Spring 2023. Teaching Assistant.</li>
      <li>MATH 2230 Honors Linear Algebra and Calculus I, Cornell University, Fall 2022. Teaching Assistant.</li>
      <li>Private tutor, 2017--2019.</li>
      <li>EXCEL group leader and tutor, Carnegie Mellon University, 2014--2015. Supported Concepts of Advanced Mathematics and Advanced Linear Algebra.</li>
      <li>Disability Resources Assistant, Carnegie Mellon University, 2015. Transcribed course resources into accessible formats and rendered aid with accessibility issues.</li>
      <li>21-240 Linear Algebra, Carnegie Mellon University, Fall 2012. Teaching Assistant.</li>
      <li>15-122 Principles of Imperative Programming, Carnegie Mellon University, Spring and Summer 2012. Teaching Assistant.</li>
    </ul>
  </body>
</html>
