<html>
  <head>
    <title>Publications</title>
    <base href="~/" />
  </head>
  <body>
    <h1>Publications</h1>
    <ul>
      <li>"Prelinearizing Funicular Preorders." Joint with Azul Fatalini. <em>In preparation.</em></li>
      <li>"Intergenerational Equity Without Nonprincipal Ultrafilters Over <strong>N</strong>." Joint with Azul Fatalini. <em>In preparation</em></li>
      <li>"On Strongly Equitable Social Welfare Orders Without the Axiom of Choice." <em>In preparation.</em></li> <!-- Put in submitted to as soon as possible. -->
      <li>"Strong Morita Equivalence for Kleene Algebras and Related Structures." <em>Submitted to Relational and Algebraic Methods in Computer Science 2026.</em></li>
      <li>"Ultrafilters over Successor Cardinals and the Tukey Order." Joint with Tom Benhamou and Justin Moore. <em>Submitted to Advances in Mathematics</em></li>
      <li>"A Formally Verified Proof of the Central Limit Theorem." Joint with Jeremy Avigad and Johannes Hölzl. <em>Journal of Automated Reasoning</em>, 59(4):389–423, 2017. <a href="https://arxiv.org/abs/1405.7012">arXiv</a></li>
      <li>"On Generalizations of Separating and Splitting Families." Joint with Daniel Condon, Samuel Coskey, and Cody Stockdale. <em>The Electronic Journal of Combinatorics</em>, 23(3):3–36, 2016. <a href="https://arxiv.org/abs/1412.4683">arXiv</a></li>
      <li>"A Formally Verified Proof of the Central Limit Theorem." Master's thesis, Carnegie Mellon University, 2015. Advised by Professor Jeremy Avigad.</li>
      <li>"Mathematical Metaphysics." Honour's thesis, Carnegie Mellon University, 2015. Advised by Professor Clark Glymour.</li>
    </ul>
  </body>
</html>
