<html>
  <img src="IMG_2963.JPG" alt="Luke Serafin" style="width:100px;height:130px;display:block;margin:auto">
  <head>
    <title>Luke Serafin</title>
    <base href="~/" />
  </head>
  <body>
    <h1>Luke Serafin</h1> <!-- TODO: Include photo -->
    <h3>Synopsis</h3>
    <p> I am a fifth-year PhD candidate at Cornell University, jointly advised by Justin Moore and Paul Larson (the latter at Miami University), with continuing advising in computer science by Dexter Kozen.
        My interests are in set theory, and specifically center around independence phenomena over ZF + DC among consequences of the axiom of choice, geometric set theory, and orderings of ultrafilters such as the Tukey order.
        I also enjoy trying to apply ideas of set theory to other areas of study, and have had some success in the case of theoretical economics.
        <!-- It is a dream of mine to apply nontrivial set-theoretic analysis of ultrafilters to the study of physics (most likely quantum field theory or statistical mechanics).--> </p>
    <h3>Biography</h3>
      <ul>
        <li><a href="serafin_cv.pdf" target="_blank" type="application/pdf" rel="noopener noreferrer alternate">CV</a></li>
        <li><a routerLink="publications">Publications</a></li> <!-- Need to resolve link not being found. -->
        <li><a routerLink="teaching">Teaching</a></li>     <!-- To include link -->
      </ul>

    <div>
      <router-outlet/>
    </div>
  </body>
</html>
